body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.lang-changer li {
  cursor: pointer;
}
.lang-changer .current {
  text-decoration: underline;
  cursor: default;
}
